#############OA####
## Vim
#################
*.swp

#################
## Node
#################
/node_modules
npm-debug.log*

#################
## Bower
#################
/bower_components
npm-debug.log*



